.profile__photos {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  justify-content: center;
  margin-top: 51px;
}
@media screen and (max-width: 375px) {
  .profile__photos {
    margin-top: 36px;
    grid-row-gap: 20px;
  }
}
