.popup__container {
  max-width: 80%;
  width: 430px;
  height: max-content;
  max-height: 318px;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .popup__container {
    width: 240px;
  }
}
