@import url(./__span/msg__span.css);
.msg {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 70px;
  z-index: 99;
  border-radius: 15px;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .msg {
    max-width: 250px;
    min-width: 150px;
    min-height: 40px;
  }
}

